@model List<Moment2.Models.BookModel>

@{
    ViewData["Title"] = "My books";

    // Deklarerar variabel som representerar modellen.
    var books = Model;
}

<h1>@ViewData["Title"]</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Year</th>
                <th>Author</th>
                <th>Read</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.ReleaseYear</td>
                    <td>@book.Author</td>
                    <td>@book.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>
